body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita el scroll */
}

#root {
  width: 100%;
  height: 100%; /* Asegura que ocupe toda la pantalla */
  margin: 0;
  padding: 0;
}

canvas {
  display: block; /* Evita márgenes extras en el canvas */
  width: 100%; 
  height: 100%; /* Ajusta el tamaño del canvas a la pantalla */
}
